





@media screen and (min-width: 800px) {
/*======================================
  //--//-->   GENERAL
  ======================================*/


* {
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


a {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

/*======================================
  //--//-->   HEADER
  ======================================*/

  .header-container {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 15vh;

  }


  .header-container-logo-image {
    height: 4em;
    width: 4em;
    margin-right: 5em;
  }





/*======================================
  //--//-->   SLIDER
  ======================================*/
  
  .slider-container { 
    height: 70vh;
      background-color: black;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination >>> .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
  }

.swiper-pagination-bullet-active {
    background: white  !important; 
}
  .swiper-slide {
    text-align: center;
    font-size: 12em;
    background-color: black;
    text-transform: uppercase;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: white;
  }


/*======================================
  //--//-->   FOOTER
  ======================================*/
  
  footer {
    text-align: center;
    color: #fff;
    padding-bottom: 4rem;
    height: 15vh;
  }
  
  footer .copyright {
    margin-bottom: .3rem;
  }
  
  footer .credits {
    margin-bottom: 0;
    
  }
  
  footer .credits a {
    color: #fff;
    text-decoration: none !important;
  }
  
}


@media screen and (max-width: 900px) {
  /*======================================
    //--//-->   GENERAL
    ======================================*/
  
  
  * {
      box-sizing: border-box;
  }
  
  body {
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  
  a {
      color: #1e1e1e;
      transition: all 0.5s ease-in-out;
    }
    
    a:hover {
      color: #0078ff;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
    }
  
  /*======================================
    //--//-->   HEADER
    ======================================*/
  
    .header-container {
      
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 15vh;
  
    }
  
  
    .header-container-logo-image {
      height: 6m;
      width: 6em;
     
    }
  
  /*======================================
    //--//-->   SLIDER
    ======================================*/
    
    .slider-container { 
      height: 60vh;
        background-color: black;
    }
  
    .swiper-container {
      width: 100%;
      height: 100%;
    }
  
    .swiper-pagination >>> .swiper-pagination-bullet {
      opacity: 1;
      border: white solid 1px;
      background-color: transparent;
    }
  
  .swiper-pagination-bullet-active {
      background: white  !important; 
  }


    .swiper-slide {
      text-align: center;
      font-size: 3em;
      background-color: black;
      text-transform: uppercase;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      color: white;
    }
  
  
  /*======================================
    //--//-->   FOOTER
    ======================================*/
    
    footer {
      text-align: center;
      color: #fff;
      padding-bottom: 4rem;
      height: 15vh;
    }
    
    footer .copyright {
      margin-bottom: .3rem;
    }
    
    footer .credits {
      margin-bottom: 0;
      
    }
    
    footer .credits a {
      color: #fff;
      text-decoration: none !important;
    }
    
  }




@media screen and (max-width: 600px) {
  /*======================================
    //--//-->   GENERAL
    ======================================*/
  
  
  * {
      box-sizing: border-box;
  }
  
  body {
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  
  a {
      color: #1e1e1e;
      transition: all 0.5s ease-in-out;
    }
    
    a:hover {
      color: #0078ff;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
    }
  
  /*======================================
    //--//-->   HEADER
    ======================================*/
  
    .header-container {
      
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 15vh;
  
    }
  
  
    .header-container-logo-image {
      height: 6m;
      width: 6em;
     
    }
  
  /*======================================
    //--//-->   SLIDER
    ======================================*/
    
    .slider-container { 
      height: 60vh;
        background-color: black;
    }
  
    .swiper-container {
      width: 100%;
      height: 100%;
    }
  
    .swiper-pagination >>> .swiper-pagination-bullet {
      opacity: 1;
      border: white solid 1px;
      background-color: transparent;
    }
  
  .swiper-pagination-bullet-active {
      background: white  !important; 
  }


    .swiper-slide {
      text-align: center;
      font-size: 3em;
      background-color: black;
      text-transform: uppercase;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      color: white;
    }
  
  
  /*======================================
    //--//-->   FOOTER
    ======================================*/
    
    footer {
      text-align: center;
      color: #fff;
      padding-bottom: 4rem;
      height: 15vh;
    }
    
    footer .copyright {
      margin-bottom: .3rem;
    }
    
    footer .credits {
      margin-bottom: 0;
      
    }
    
    footer .credits a {
      color: #fff;
      text-decoration: none !important;
    }
    
  }